<div class="article-cover-container">
  <img aria-labelledby="article-{{id}}-name" class="article-cover-img" src="{{coverUrl}}" alt="Portrait for article {{name}}">
  <span id="article-{{id}}-name" class="article-name">{{name}}</span>
</div>

{{! id used to scroll to this book when the corresponding nav link is clicked }}
<div id="{{id}}" class="article">
  <section class="article-info">
    <h2 class="card-header">
      {{author}}
    </h2>
    <p class="card-description">
      {{description}}
    </p>
  </section>

  <div class="card-actions">
    <button class="btn-secondary">SHARE</button>
    <a href="{{resourceUrl}}" target="_blank" class="btn-main">EXPLORE</a>
  </div>
</div>