<div class="book-cover-container">
  <img aria-labelledby="{{id}}-book-cover" class="book-cover" src="{{coverUrl}}" alt="Art cover for {{name}} by {{author}}">
  <span id="{{id}}-book-cover" class="a11y-desc">Art cover for book {{name}} by {{author}}</span>
</div>

{{! id used to scroll to this book when the corresponding nav link is clicked }}
<div id="{{id}}" class="book">
  <section class="book-info">
    <h2 class="card-header">{{name}}</h2>
    <p class="card-description">By {{author}}</p>
  </section>

  <div class="card-actions book-actions">
    <a href="{{resourceUrl}}" class="btn-secondary free-sample" target="_blank">FREE SAMPLE</a>
    <button class="btn-main review-book">REVIEW</button>
    <div class="rating">
      {{! Not great piece of markup below, but handlebars doesnt have a regular `for` loop
       It can only loop through arrays in order to output markup, but here I have
       no array to loop over ... }}
      <span class="star" data-value="1">{{include-icon 'star'}}</span>
      <span class="star" data-value="2">{{include-icon 'star'}}</span>
      <span class="star" data-value="3">{{include-icon 'star'}}</span>
      <span class="star" data-value="4">{{include-icon 'star'}}</span>
      <span class="star" data-value="5">{{include-icon 'star'}}</span>
    </div>
  </div>
</div>
